// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;

}

ul{
  list-style: none;
}

#wrapper{
  width: 100%;
}

header{
  width: 100%;
  // height: 100%;
  position: fixed;
  z-index: 1;
}


.inner{
 display:flex;
  padding:10px;
  background-color: white;
  // .insta{
  //   padding-left:  80%;
  //   font-size: 30px;
  // }
  .insta_btn {
    margin-top: 10px;
    padding-left:  75%;
    display: inline-block;
    text-align: center;/*中央揃え*/
    color: #2e6ca5;/*文字色*/
    font-size: 20px;/*文字サイズ*/
    text-decoration: none;/*下線消す*/
  }
  
  .insta_btn:hover {/*ホバー時*/
    color:#668ad8;/*文字色*/
    transition: .5s;/*ゆっくり変化*/
  }
  .insta_btn .insta{/*アイコンの背景*/
    position: relative;/*相対配置*/
    display: inline-block;
    width: 40px;/*幅*/
    height: 40px;/*高さ*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    border-radius: 13px;/*角丸に*/
  
  }
  .insta_btn .insta:before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 23px;/*ずらす*/
    left: -18px;/*ずらす*/
    width: 60px;/*グラデーションカバーの幅*/
    height: 60px;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
  }
  .insta_btn .fa-instagram {/*アイコン*/
    color: #FFF;/*白に*/
    position: relative;/*z-indexを使うため*/
    z-index: 2;/*グラデーションより前に*/
    font-size: 25px;/*アイコンサイズ*/
    line-height: 40px;/*高さと合わせる*/
  }

  .twitter{
    display: inline-block;
    color: #1da1f2;
    font-size: 40px;
    margin-left: 30px;
  }
  .youtube{
    display: inline-block;
    color: #f2361d;
    font-size: 40px;
    margin-left: 30px;
  }

  
}


.title{
  color: rgb(235, 176, 176);
  font-size: 30px;
  font-family: 'Londrina Shadow', cursive;
}

.menu_bar{
  padding-left:  50px;

}

#header_menu {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#header_menu div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#header_menu div:nth-of-type(1) {
  top: 0;
}
#header_menu div:nth-of-type(2) {
  top: 10px;
}
#header_menu div:nth-of-type(3) {
  bottom: 0;
}

.top_images{
  padding-top: 70px;

  // opacity : 0;
  // transform: translateY(20px);
  // transition: all 1s;
  .image_box{
    height: 384px;
    background-color:black;
    text-align: center;
    position: relative;
    h2{
      position: absolute;
      top: 35%;
      left: 37%;
      color: white;
      font-size: 55px;
      letter-spacing: 8px;
      font-family: 'Londrina Shadow', cursive;

    }
  }
  

}

.top_about{

  .about_boxes{
   margin: 0 auto;

   .about_images{
     margin-top:  100px;
     position: relative;
     .about_image1{
      position: absolute;
      left: 30%;
     }
     .about_image2{
      position: absolute;
      left: 55%;
      top: 170px;
     }
     .about_image3{
       position: absolute;
       left: 32%;
       top: 320px;
     }
     .lesson_text{
       position: absolute;
       writing-mode: vertical-lr;
       height: 500px;
       font-size: 25px;
       left: 65%;
       font-family: serif;
       font-weight: 600;
     }
   }
    
  }

  .text{
    padding-left:  30%;
    display: block;

    h3{
      font-family: serif;
      letter-spacing: 5px;
      padding-top: 620px;
      margin-bottom: 25px;
      font-size: 35px;
      
     
    }
    p{
      font-family: serif;
      letter-spacing: 5px;
      line-height: 25px;
      margin-bottom: 25px;
      font-size: 15px;
      

      
    }
  }

  
  .btn-flat-border1 {
    font-size: 13px;
    font-family: 'Londrina Shadow', cursive;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-left: 55%;
    margin-top: 3%;
  }
  .btn-flat-border1:hover {
    background: #67c5ff;
    color: white;
  }
  
  .btn-flat-border2 {
    font-size: 13px;
    font-family: 'Londrina Shadow', cursive;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #2475ee;
    border: solid 2px #2475ee;
    border-radius: 3px;
    transition: .4s;
    margin-left: 15px;

  }
  .btn-flat-border2:hover {
    background: #2475ee;
    color: white;
  }
}

.view_about{
  margin-top: 100px;
  background-color: #f5f5f5;
  text-align: center;
  .view_more{

    display: inline-block;
    border-bottom: solid 2px orange;
    font-size: 25px;
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    

  }
  .masterpiece_box{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    .masterpiece_images{
      margin: 0 auto;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      .view_size{
        width: 250px;
        height: 250px;
        background-size:contain;
      }
    }
  }

}

.people{
  background-color: white;
  text-align: center;
  .lesson_student{
    display: inline-block;
    border-bottom: solid 2px orange;
    font-size: 25px;
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 10px;

  }
  .student_box{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

  }

}


footer{
  margin-top: 100px;
  width: 100%;
  background-color: #484e4b;
  padding: 65px 0 30px;
  .footer_inner{
    margin: 0 400px;
    .footer_menu{
      li{
        margin-top: 20px;
      }
      .menu_text{
        font-family: serif;
        text-decoration: none;
        color:#fff;
      }
      .menu_text:hover{
        color: orange;
      }
    }
    .last_title{
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
      margin-top: 100px;
    }
  }


}